.buttonDiv{
    width: 4.375rem;
    height: 4.313rem;
    background: #E1E8ED;
    display: flex;
    justify-content: center;
}
.buttonDiv:hover{
    background: rgb(109, 172, 255);
}
.iconStyle{
    font-size: 1.6rem;
}

@media(max-width:430px){
    .buttonDiv {
        width: 3rem;
        height: 3rem;
        background: #E1E8ED;
        display: flex;
        justify-content: center;
    }
    .iconStyle{
        font-size: 1.2rem;
    }
}