.buttonStyle{
    position: relative;
    width: 16rem;
    height: 4.313rem;
    display: flex;
    font-size: 1.3rem;
    background: #E1E8ED;
    color: #0C31F1;
    padding-top: 1.2rem;
    justify-content: center;
    gap: 18px;
}
.buttonStyle:hover{
    background: rgb(109, 172, 255);
}

@media(max-width:960px){
    .buttonStyle{
        width: 5rem;
        transition: 0.5s;
    }
    .submitButton{
        display: none;
    }
}
@media(max-width:430px){
    .buttonStyle {
        width: 3rem;
        height: 3rem;
        font-size: 1.3rem;
        align-items: center;
        padding: unset;
    }
}